@import "../../../../styles/variables.scss";

.message {
  display: flex;
  gap: 8px;
  width: fit-content;
  max-width: 70%;
  animation: messageEntry 0.3s ease;

  & > p {
    background-color: $black-100;
    color: $black-700;
    height: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    white-space: pre-line;
  }

  &--isOwner {
    align-self: flex-end;
    flex-direction: row-reverse;
    & > p {
      background-color: $main-default;
      color: $white;
      border-bottom-right-radius: 0px;
    }
  }
}

@keyframes messageEntry {
  from {
    opacity: 0;
    // transform: translateY(10px);
  }
  to {
    opacity: 1;
    // transform: translateY(0px);
  }
}
