@import "../../styles/variables.scss";

.textarea-wrapper {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  overflow: auto;
  height: 100%;
  max-height: 200px;
  border: 1px solid $secondary-xsm;
  border-radius: 8px;

  &--focused {
    border: 1px solid $main-default;
  }
}

.textarea-wrapper::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.textarea-wrapper > textarea,
.textarea-wrapper::after {
  /* Identical styling required!! */
  resize: none;
  border: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.25px;
  color: $black-700;
  overflow: auto;
  box-sizing: border-box;
  min-height: 44px;

  padding: 10px 14px;
  font-size: 16px;
  font-weight: 400;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.textarea-wrapper *:disabled {
  background-color: $black-200;
}

.textarea {
  &::placeholder {
    font-size: 16px;
    line-height: 19.6px;
    letter-spacing: 0.25px;
    color: $black-500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}
