@import "../../styles/variables.scss";

.dialog-overlay {
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 3;
}

// .dialog-container {
//   padding: 16px;
// }

.dialog-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  padding: 40px 0px;
  z-index: 4;

  &--top,
  &--right,
  &--bottom,
  &--left {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }

  &--center {
    animation: scaleAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.dialog-header {
  gap: 16px;

  // & > button {
  //   height: fit-content;
  // }
}

.dialog-content--top {
  animation-name: slideDownAndFade;
}
.dialog-content--right {
  animation-name: slideLeftAndFade;
}
.dialog-content--bottom {
  animation-name: slideUpAndFade;
}
.dialog-content--left {
  animation-name: slideRightAndFade;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleAndFade {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
