@import "../../../../styles/variables.scss";

.academic-education-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > p {
      font-size: 15px;
      color: $black-800;
    }
  }
}
